.temp {
  font-size: 25px;
}
img {
  float: right;
  width: 10%;
  height: 10%;
}
h1{
  text-align: right;
  color: red;
}
body{
  background-color: darkblue;
}
p {
  font-style: italic;
}
.ed {
  background-color: orange;

}
.work{
  background-color: green;
  font-style: italic;
}
.p {
background-color: white;
float: right;
}
.h {
  background-color: pink;
  text-align: center;
}
h3 {
  
}
