.temp {
  font-size: 25px;
}
img {
  float: right;
  width: 10%;
  height: 10%;
}
h1{
  text-align: right;
  color: red;
}
body{
  background-color: darkblue;
}
p {
  font-style: italic;
}
.ed {
  background-color: orange;
  
}
